{# templates/admin/emprunts.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <div class="container">
        <section>
            <h2>Livres Empruntés</h2>
            <br></br>
            <div class="bg-light p-3 rounded mb-3">
                <ul class="list-unstyled">
                    {% for emprunt in LivresEmprunts %}
                        <li class="mb-3">
                            <strong>Emprunteur:</strong> {{ emprunt.adherent.nom }} {{ emprunt.adherent.prenom }} |
                            <strong>Livre:</strong> {{ emprunt.correspondre.titre }} |
                            <strong>Date de début d'emprunt:</strong> {{ emprunt.dateEmprunt|date('Y-m-d') }} |
                            <strong>Date de fin d'emprunt:</strong> {{ emprunt.dateRetour ? emprunt.dateRetour|date('Y-m-d') : 'Non retourné' }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
