{# templates/admin/emprunts.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <div class="container">
        <h1>Tableau de Bord</h1>

        <section>
            <h2>Emprunteurs</h2>
            <ul>
                {% for adherent in AllAdherents %}
                    <li>{{ adherent.nom }} {{ adherent.prenom }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Livres Empruntés</h2>
            <ul>
                {% for emprunt in LivresEmprunts %}
                    <li>
                        {{ emprunt.correspondre.titre }} -
                        Date de début d'emprunt : {{ emprunt.dateEmprunt|date('Y-m-d') }} -
                        Date de fin d'emprunt : {{ emprunt.dateRetour|date('Y-m-d') }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}
