{# templates/admin/history.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_id 'livre_history' %}

{% block main %}
    <h1>Historique des Emprunts</h1>
    <br></br>

    {% for livre in livres %}
        <h2>{{ livre.titre }}</h2>
        {% if livre.emprunts is not empty %}
            <p>Nombre d'emprunts : {{ livre.emprunts|length }}</p>
            <ul>
                {% for emprunt in livre.emprunts %}
                    <li>{{ emprunt.adherent }} - {{ emprunt.dateEmprunt|date('Y-m-d') }} - {{ emprunt.dateRetour|date('Y-m-d') }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun emprunt pour ce livre.</p>
        {% endif %}
    {% endfor %}
{% endblock %}
